.subject-card {
    transition: transform 0.1s ease;
}

.subject-card:hover { 
    transform: scale(1.1);
}

.flashset-div {
    text-align: left;
    background-color: white;
    border-radius: 2px;

    p {
        margin-bottom: 0px;
        font-size: 14px;
    }

    span {
        margin-bottom: 0px;
        margin-right: 10px;
        font-size: 14px;
    }

    h3 {
        font-size: 24px;
    }

    img {
        height: 20px;
        margin-bottom: 10px;
        margin-right: 8px;
    }
}

.flashset-div:hover {
    border: 2px solid rgb(54, 51, 62);
}