
$bg-primary: white;
$bg-secondary: rgb(234, 235, 245);
$accent: rgb(236, 225, 246);

$text-primary: rgb(11, 10, 14);

.App {
  text-align: center;
  color: $text-primary;
}

.--bg-primary {
  background-color: $bg-primary;
}

.--bg-secondary {
  background-color: $bg-secondary;
}

.--text-xl {
  font-size: 3rem;
}

.fill-screen {
  min-height: 100vh;
  width: 100%;
}

.disable-horizontal-scroll {
  overflow-x: hidden;
}
.error-text {
  margin-bottom: 0px;
  color: red
}

