.subject-card {
    transition: transform 0.1s ease;
}

.subject-card:hover { 
    transform: scale(1.1);
}

.flashset-div {
    text-align: left;
    background-color: white;
    border-radius: 2px;

    p {
        margin-bottom: 0px;
        font-size: 14px;
    }

    span {
        margin-bottom: 0px;
        margin-right: 10px;
        font-size: 14px;
    }

    h3 {
        font-size: 24px;
    }


    a:link {
        color: rgb(139, 82, 177);
    }
    
    a:visited {
        color: rgb(78, 56, 97); 
    }
}

.flashset-div:hover {
    border: 2px solid rgb(54, 51, 62);
}

.likes-button {
    border: none;
    background-color: white;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-right: 4px;

    img {
        height: 20px;
    }
}

.likes-button:hover {
    background-color: rgb(189, 189, 189);
}


